BLENDER_VERSION=4.2.0
GPU_ID=none
LOCAL_UID=1000
LOCAL_GID=1000

# Override these only when a release needs to be pinned differently.
VRM_ADDON_URL=https://github.com/saturday06/VRM-Addon-for-Blender/releases/download/v4.2.0/VRM_Addon_for_Blender-4_2_0.zip
MMD_TOOLS_VERSION=4.5.11
MMD_TOOLS_URL=https://extensions.blender.org/download/sha256:95ae385a801badafe73251d584a33779a95001912881eef999f9bb4af4c35c87/add-on-mmd-tools-v4.5.11.zip
INSTALL_MATERIAL_COMBINER=0
MATERIAL_COMBINER_URL=https://github.com/Grim-es/material-combiner-addon/releases/download/2.1.2.9/material-combiner-addon-master.zip
